android/app/build/
android/.gradle/
\.buckd/
buck-out/
build/
cljs/
.cpcache/
!debug.keystore
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
DerivedData
.DS_Store
*/fastlane/Preview.html
*/fastlane/report.xml
*/fastlane/screenshots
.gradle
*.hmap
.idea
.idea/
*.iml
/ios/Pods/
*.ipa
*.jsbundle
*.keystore
local.properties
*.mode1v3
*.mode2v3
*.moved-aside
node_modules/
npm-debug.log
.nrepl-port
*.pbxuser
*.perspectivev3
project.xcworkspace
resources/public/js
.shadow-cljs/
target/
*.xccheckout
xcuserdata
*.xcuserstate
yarn-error.log
