{:paths   ["src/main"]
 :deps    {org.clojure/clojure          {:mvn/version "1.10.1"}
           juxt/crux                    {:mvn/version "19.07-1.1.1-alpha"}
           io.pedestal/pedestal.service {:mvn/version "0.5.7"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
           org.clojure/core.async       {:mvn/version "0.4.500"}
           edn-query-language/eql       {:mvn/version "0.0.9"}
           com.cognitect/transit-clj    {:mvn/version "0.8.319"}
           com.wsscode/pathom           {:mvn/version "2.2.26"}
           com.taoensso/timbre          {:mvn/version "4.10.0"}
           com.fulcrologic/fulcro       {:mvn/version "3.0.5"}
           clj-time/clj-time            {:mvn/version "0.15.2"}}
 :aliases {:dev {:extra-paths ["src/dev" "src/test"]
                 :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}
                               midje/midje            {:mvn/version "1.9.9"}
                               binaryage/devtools     {:mvn/version "0.9.10"}
                               thheller/shadow-cljs   {:mvn/version "2.8.67"}}}}}
